<launch>
    <!-- Deixando o launch file mais bonitinho e colocando tudo em forma de argumento pra passar pro rosparam -->
    <arg name="model" default="$(find henrique)/urdf/panda_arm_hand_new.urdf"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

    <!-- Robot description eh um namespace padrao pra carregar o urdf do robo -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="0.025 0 0.03 0 0 0 1  /panda_link8 /camera 100"/> -->

    <!-- Tem que adicionar o joint e robot_state_publisher pra computar FK e TF -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
